<div class="container">
    <form class="form-inline">
        <input class="form-control" type="text" placeholder="Enter github username" name="allRepo"
            [(ngModel)]="allRepo">
        <button class="btn btn-primary" (click)="submitRepos()"><i class="fa fa-search"
                aria-hidden="true"></i>Search</button>
    </form>


    <p>Name: {{repository.name}}</p>
    <p>Description: {{repository.description}}</p>
    <p>Language: {{repository.language}}</p>
    <p>html_url:{{repository.html_url}}</p>
</div>