.form-control {
    width: 450px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 500px;
    background-color: transparent;
}

.btn {
    border: none;
    margin-left: -2px;
    height: 38px;
    border-radius: 5px;
}

.rep{
    margin: 20px 0;
}

input[type=text]::placeholder{
    color:white;
}