img {
    width: 200px;
    border-radius: 30px;
}

.form-control {
    width: 400px;
    /* margin-top: 50px; */
    /* margin-bottom: 50px; */
    margin-left: 500px;
    background-color: transparent;
}

.btn {

    margin-left: -3px;
    height: 35px;
    /* border-radius: 5px; */
}

.pic{
    margin-top: 40px;
}

input[type=text]::placeholder{
    color:white;
}

input{
    height: 35px;
}

#hey{
    margin-top: 30px;
}

#gith{
    margin-top: 20px;
}